.markdown p {
  margin-top: var(--base-spacing-4);
  font: var(--semantic-typography-body);
  color: var(--semantic-color-text-secondary);
}

.markdown h2 {
  font: var(--semantic-typography-h2);
  letter-spacing: var(--base-letter-spacing-1);
}

.markdown h3 {
  font: var(--semantic-typography-h3);
  letter-spacing: var(--base-letter-spacing-1);
}

.markdown h4 {
  font: var(--semantic-typography-h4);
  letter-spacing: var(--base-letter-spacing-1);
}

.markdown h5 {
  font: var(--semantic-typography-h5);
}

.markdown h6 {
  font: var(--semantic-typography-h6);
  text-transform: uppercase;
  color: var(--semantic-color-text-primary);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: var(--semantic-color-text-primary);
  margin: var(--base-spacing-6) 0 var(--base-spacing-4);
}

.markdown img {
  max-width: 100%;
  height: auto;
  margin: var(--base-spacing-8) 0 var(--base-spacing-4);
  border-radius: var(--base-border-radius-4);
  display: block;
}

.markdown ul {
  list-style-type: disc;
  padding-left: var(--base-spacing-7);
  margin-top: var(--base-spacing-4);
}

.markdown ol {
  list-style-type: decimal;
  padding-left: var(--base-spacing-7);
  margin-top: var(--base-spacing-4);
}

.markdown li {
  color: var(--semantic-color-text-secondary);
  margin-bottom: var(--base-spacing-2);
}

.markdown caption {
  font: var(--semantic-typography-caption);
}

.markdown a {
  text-decoration: underline;
  color: var(--semantic-color-text-subdued);
}

.markdown pre {
  padding: var(--base-spacing-4);
  border-radius: var(--base-border-radius-4);
  background-color: var(--semantic-color-background-surface);
  margin-top: var(--base-spacing-4);
  font-size: 14px;
  color: var(--semantic-color-text-secondary);
  overflow: hidden;
  overflow-x: scroll;
}

.markdown p > code,
.markdown li > code,
.markdown strong > code {
  padding: 0.125rem var(--base-spacing-1);
  border-radius: var(--base-border-radius-2);
  background-color: var(--semantic-color-background-surface);
  font-size: 14px;
  color: var(--semantic-color-text-secondary);
}
